<template>
  <v-container>
    <div class="col-10 mx-auto" style="padding-top: 3%; padding-bottom: 3%">
      <center><h2 class="font-style">Novo Contrato</h2></center>
      <v-form
        enctype="multipart/form-data"
        ref="form"
        align="right"
        width="100%"
        v-model="valid"
        lazy-validation
      >
        <div class="d-flex">
          <v-text-field
            v-model="RAZAO_SOCIAL"
            :counter="30"
            label="Razão Social/Nome"
            :rules="nameRules"
            maxlength="30"
            required
            class="mr-2"
          ></v-text-field>

          <v-text-field
            v-model="NOME_FANTASIA"
            :counter="30"
            label="Nome Fantasia"
            maxlength="30"
            :rules="nameRules"
            required
            class="mr-2"
          ></v-text-field>
        </div>

        <div class="d-flex">
          <v-select
            v-model="TIPO_CONTRATO"
            :items="items_tp_contrato"
            label="Tipo Contrato"
            class="mr-2"
          ></v-select>

          <v-text-field
            v-if="CNPJ.length <= 14"
            v-model="CNPJ"
            :counter="18"
            label="CPF / CNPJ"
            maxlength="18"
            v-mask="['###.###.###-##']"
            required
            class="mr-2"
          ></v-text-field>

          <v-text-field
            v-if="CNPJ.length > 14"
            v-model="CNPJ"
            :counter="18"
            label="CPF / CNPJ"
            maxlength="18"
            v-mask="['##.###.###/####-##']"
            required
            class="mr-2"
          ></v-text-field>

          <v-text-field
            v-model="NM_CONTRATADO_DIRETO"
            :counter="30"
            label="Nome Contrato Direto"
            maxlength="30"
            required
            class="mr-2"
          ></v-text-field>
        </div>

        <div class="d-flex">
          <v-text-field
            v-model="DATA_CONTRATACAO"
            :counter="10"
            label="Data de Contratação"
            v-mask="['##/##/####']"
            maxlength="10"
            required
            class="mr-2"
          ></v-text-field>
          <v-text-field
            v-model="DATA_TERMINO"
            :counter="10"
            label="Data de Término"
            maxlength="10"
            v-mask="['##/##/####']"
            required
            class="mr-2"
          ></v-text-field>
          <v-text-field
            v-model="DIA_PAGAMENTO"
            :counter="2"
            label="Dia de Pagamento"
            maxlength="2"
            required
            class="mr-2"
          ></v-text-field>
          <v-text-field
            v-model="MES_REAJUSTE"
            :counter="2"
            label="Mês de Reajuste"
            :rules="monthRules"
            maxlength="2"
            required
            class="mr-2"
          ></v-text-field>
          <v-select
            v-model="GESTOR_CONTRATO"
            :items="items_gestor_contrato"
            label="Gestor do Contrato"
            class="mr-2"
          ></v-select>
        </div>

        <div class="d-flex">
          <v-select
            v-model="INDICE_CONTRATUAL_REAJUSTE"
            :items="items_indice_contratual"
            label="Indice Contratual Reajuste"
            class="mr-2"
          ></v-select>
          <v-select
            v-model="STATUS"
            :items="items_status"
            label="Status"
            class="mr-2"
          ></v-select>

          <v-select
            v-model="ACESSO_DADOS_SENSIVEIS"
            :items="items_ace_dados_sens"
            label="Acesso Dados Sensíveis"
            class="mr-2"
          ></v-select>

          <v-select
            v-model="TIPO_PAGAMENTO"
            :items="items_tipo_pagamento"
            label="Tipo de Pagamento"
            class="mr-2"
          ></v-select>
        </div>

        <v-col cols="12" md="12">
          <v-textarea
            v-model="TP_CONTRATO_SUBMOTIVO_SERVICO"
            :counter="255"
            label="Submotivo Serviço"
            solo
            name="input-7-4"
          ></v-textarea>
        </v-col>

        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4 mt-5"
          @click="validate"
        >
          Salvar
        </v-btn>

        <v-btn color="error" class="mr-4 mt-5" @click="reset">
          Limpar Campos
        </v-btn>

        <v-btn color="warning" class="mt-5" @click="resetValidation">
          Resetar Validação
        </v-btn>
      </v-form>
      <div style="margin-top: 40px">
        <v-alert
          :value="alert"
          dark
          :type="alert_type"
          border="top"
          transition="scale-transition"
        >
          {{ alert_message }}
        </v-alert>
      </div>
    </div>
  </v-container>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { VueMaskDirective } from "v-mask";
import router from "../router/index";
Vue.directive("mask", VueMaskDirective);

export default {
  name: "Agendamento",
  data: () => ({
    valid: true,
    alert: false,
    alert_response: "",
    alert_type: undefined,
    alert_message: undefined,
    RAZAO_SOCIAL: "",
    NOME_FANTASIA: "",
    CNPJ: "",
    NM_CONTRATADO_DIRETO: "",
    TIPO_CONTRATO: "",
    DATA_CONTRATACAO: "",
    DATA_TERMINO: "",
    MES_REAJUSTE: "",
    NM_CONTRATADO_DIRETO: "",
    TP_CONTRATO_SUBMOTIVO_SERVICO: "",
    GESTOR_CONTRATO: "",
    INDICE_CONTRATUAL_REAJUSTE: "",
    STATUS: "",
    ACESSO_DADOS_SENSIVEIS: "",
    TIPO_PAGAMENTO: "",
    DIA_PAGAMENTO: "",

    nameRules: [
      (v) => !!v || "Campo obrigatório",
      (v) =>
        (v && v.length <= 30 && v.length >= 3) ||
        "Deve ter entre 3 e 30 caracteres",
    ],
    cpfRules: [
      (v) => !!v || "CPF é um campo obrigatório",
      (v) => /\d{3}.+-+\d{2}/.test(v) || "CPF deve ter 11 digitos",
    ],
    emailRules: [
      (v) => !!v || "E-mail é um campo obrigatório",
      (v) => /.+@.+\..+/.test(v) || "Insira um E-mail válido",
    ],
    monthRules: [
      (v) => !!v || "Mês é um campo obrigatório",
      (v) => v <= 12 || "Valor máximo 12",
    ],
    items_tp_contrato: [
      "Prestação de serviço",
      "Locação",
      "Compra",
      "Plano Santa Casa",
      "Credenciamento",
    ],
    items_gestor_contrato: [
      "Atendimento",
      "Central Telefônica",
      "Comercial",
      "Relacionamento com Cliente",
      "Ouvidoria",
      "Qualidade",
      "Cadastro",
      "Cobrança",
      "Faturamento",
      "Financeiro",
      "Contabilidade",
      "Núcleo de Inteligência",
      "Parametrização",
      "Secretaria",
      "Jurídico",
      "Diretoria",
      "Sinistro",
      "Credenciamento",
      "Núcleo Técnico de regulação e auditoria",
      "Contas médicas",
      "Recurso de Glosa",
      "Suprimentos",
      "Medicina preventiva",
      "Recursos Humanos",
      "Superintendência",
    ],
    items_indice_contratual: [
      "IGPM",
      "IPCA",
      "INPC",
      "Livre negociação",
      "O menor entre IGPM/IPCA/INPC",
    ],
    items_status: ["Vigente", "Encerrado"],
    items_ace_dados_sens: ["Sim", "Não"],
    items_tipo_pagamento: ["Fixo", "Por Produção", "Fixo e Por Produção"],
    mask: "",
  }),
  methods: {
    async validate() {
      var payload = {
        RAZAO_SOCIAL: this.RAZAO_SOCIAL,
        NOME_FANTASIA: this.NOME_FANTASIA,
        CNPJ: this.CNPJ,
        NM_CONTRATADO_DIRETO: this.NM_CONTRATADO_DIRETO,
        TIPO_CONTRATO: this.TIPO_CONTRATO,
        DATA_CONTRATACAO: this.DATA_CONTRATACAO,
        DATA_TERMINO: this.DATA_TERMINO,
        MES_REAJUSTE: this.MES_REAJUSTE,
        NM_CONTRATADO_DIRETO: this.NM_CONTRATADO_DIRETO,
        TP_CONTRATO_SUBMOTIVO_SERVICO: this.TP_CONTRATO_SUBMOTIVO_SERVICO,
        GESTOR_CONTRATO: this.GESTOR_CONTRATO,
        INDICE_CONTRATUAL_REAJUSTE: this.INDICE_CONTRATUAL_REAJUSTE,
        STATUS: this.STATUS,
        ACESSO_DADOS_SENSIVEIS: this.ACESSO_DADOS_SENSIVEIS,
        TIPO_PAGAMENTO: this.TIPO_PAGAMENTO,
        DIA_PAGAMENTO: this.DIA_PAGAMENTO,
      };

      const res = await axios
        .post("/controleJuri/insert", payload, {
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem("token")}`,
          },
        })
        .then((respose) => (this.alert_response = respose.data))
        .catch((error) => console.log(error));
      if (this.alert_response != null) {
        this.alert = true;
        this.alert_type = "success";
        this.alert_message = "Agendamento realizado com sucesso!";
        setTimeout(() => {
          this.alert = false;
        }, 3000);
      } else {
        this.alert = true;
        this.alert_type = "error";
        this.alert_message = "Erro ao realizar o agendamento!";
        setTimeout(() => {
          this.alert = false;
        }, 3000);
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    logout() {
      window.localStorage.removeItem("token");
      window.localStorage.removeItem("username");
      window.localStorage.removeItem("unidade");
      window.localStorage.removeItem("expires_time");
      window.localStorage.removeItem("role");
      router.go("Home");
    },
  },
  async beforeMount() {
    var time = new Date().toLocaleTimeString();
    if (time >= localStorage.getItem("expires_at")) {
      alert("Sua sessão expirou, por favor faça o login novamente!");
      this.logout();
    }
  },
};
</script>