<template>
  <v-footer
    style="position: fixed; width: 100%; bottom: 0; left: 0"
    color="STcolor"
    padless
  >
    <v-row justify="center" no-gutters>
      <v-col class="STcolor just py-4 white--text" cols="12">
        Criação e desenvolvimento: <strong>{{ msg }}</strong> -
        {{ new Date().getFullYear() }}
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
  data: () => ({
    msg: "Equipe TI Operadora Santa Casa Saúde",
  }),
};
</script>

<style>
.STcolor {
  background-color: #0075be !important;
}
.just {
  text-align: center;
}
</style>