<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn rounded color="primary" dark v-bind="attrs" v-on="on">
          Editar
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Edição de agendamento</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model="data.RAZAO_SOCIAL"
                  counter
                  maxlength="30"
                  full-width
                  hint="Razão Social/Nome"
                  persistent-hint
                  single-line
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model="data.NOME_FANTASIA"
                  counter
                  maxlength="30"
                  hint="Nome Fantasia"
                  persistent-hint
                  full-width
                  single-line
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="4">
                <v-select
                  v-model="data.TIPO_CONTRATO"
                  hint="Tipo Contrato"
                  :items="items_tp_contrato.map((item) => item.text)"
                  label="Tipo Contrato"
                  persistent-hint
                  full-width
                  return-object
                  single-line
                ></v-select>
              </v-col>

              <v-col cols="12" sm="4">
                <v-text-field
                  v-if="data.CNPJ.length <= 14"
                  v-model="data.CNPJ"
                  counter
                  maxlength="18"
                  hint="CPF / CNPJ"
                  v-mask="['###.###.###-##']"
                  persistent-hint
                  full-width
                  single-line
                ></v-text-field>

                <v-text-field
                  v-if="data.CNPJ.length > 14"
                  v-model="data.CNPJ"
                  counter
                  maxlength="18"
                  hint="CPF / CNPJ"
                  v-mask="['##.###.###/####-##']"
                  persistent-hint
                  full-width
                  single-line
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="4">
                <v-text-field
                  v-model="data.NM_CONTRATADO_DIRETO"
                  counter
                  maxlength="30"
                  full-width
                  hint="Nome Contratado Direto"
                  persistent-hint
                  single-line
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field
                  v-model="data.DATA_CONTRATACAO"
                  hint="Data Contratação"
                  v-mask="['##/##/####']"
                  persistent-hint
                  maxlength="10"
                  full-width
                  single-line
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field
                  v-model="data.DATA_TERMINO"
                  hint="Data Término"
                  v-mask="['##/##/####']"
                  persistent-hint
                  maxlength="10"
                  full-width
                  single-line
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="4">
                <v-select
                  v-model="data.GESTOR_CONTRATO"
                  :items="items_gestor_contrato.map((item) => item.text)"
                  hint="Gestor Contrato"
                  persistent-hint
                  full-width
                  return-object
                  single-line
                ></v-select>
              </v-col>

              <v-col cols="12" sm="4">
                <v-text-field
                  v-model="data.MES_REAJUSTE"
                  counter
                  hint="Mês Reajuste"
                  persistent-hint
                  :rules="monthRules"
                  maxlength="2"
                  full-width
                  single-line
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="data.INDICE_CONTRATUAL_REAJUSTE"
                  :items="items_indice_contratual.map((item) => item.text)"
                  hint="Índice Contratual Reajuste"
                  persistent-hint
                  full-width
                  return-object
                  single-line
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="data.STATUS"
                  :items="items_status.map((item) => item.text)"
                  hint="Status"
                  persistent-hint
                  full-width
                  return-object
                  single-line
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field
                  v-model="data.DIA_PAGAMENTO"
                  counter
                  hint="Dia Pagamento"
                  persistent-hint
                  :rules="diaPagamentoRules"
                  maxlength="2"
                  full-width
                  single-line
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="data.ACESSO_DADOS_SENSIVEIS"
                  :items="items_status.map((item) => item.text)"
                  hint="Acesso Dados Sensíveis"
                  persistent-hint
                  full-width
                  return-object
                  single-line
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="data.TIPO_PAGAMENTO"
                  :items="items_tipo_pagamento.map((item) => item.text)"
                  hint="Tipo de Pagamento"
                  persistent-hint
                  full-width
                  return-object
                  single-line
                ></v-select>
              </v-col>
            </v-row>
            <v-col cols="12" sm="12">
              <v-textarea
                v-model="data.TP_CONTRATO_SUBMOTIVO_SERVICO"
                counter
                hint="Tipo Contrato Submotivo Serviço"
                persistent-hint
                maxlength="30"
                full-width
                outlined
              ></v-textarea>
            </v-col>
          </v-container>
          <small>*Campos obrigatórios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Fechar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="
              editar();
              $emit('emitAlert');
            "
          >
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { VueMaskDirective } from "v-mask";
Vue.directive("mask", VueMaskDirective);
export default {
  name: "ModelUpdate",
  props: ["data"],
  emits: ["emitAlert"],
  data() {
    return {
      dialog: false,
      sts: [
        { cod: 1, text: "Inclusão Liberado - DS OK" },
        { cod: 2, text: "Recusar - Termo não Assinado" },
        { cod: 3, text: "Cadastro Ok - Pendente pre-existência" },
        { cod: 4, text: "Pendente Análise de DS" },
        { cod: 5, text: "Finalizado" },
      ].map((key) => ({ text: key.text, value: key.cod })),
      monthRules: [
        (v) => !!v || "Mês é um campo obrigatório",
        (v) => v <= 12 || "Valor máximo 12",
      ],
      diaPagamentoRules: [
        (v) => !!v || "Dia de Pagamento é um campo obrigatório",
        (v) => v <= 31 || "Valor máximo 31",
      ],
      items_tp_contrato: [
        { cod: 1, text: "Prestação de serviço" },
        { cod: 2, text: "Locação" },
        { cod: 3, text: "Compra" },
        { cod: 4, text: "Plano Santa Casa" },
        { cod: 5, text: "Credenciamento" },
      ].map((key) => ({ text: key.text, value: key.cod })),

      items_gestor_contrato: [
        { cod: 1, text: "Atendimento" },
        { cod: 2, text: "Central Telefônica" },
        { cod: 3, text: "Comercial" },
        { cod: 4, text: "Relacionamento com Cliente" },
        { cod: 5, text: "Ouvidoria" },
        { cod: 6, text: "Qualidade" },
        { cod: 7, text: "Cadastro" },
        { cod: 8, text: "Cobrança" },
        { cod: 9, text: "Faturamento" },
        { cod: 10, text: "Financeiro" },
        { cod: 11, text: "Contabilidade" },
        { cod: 12, text: "Núcleo de Inteligência" },
        { cod: 13, text: "Parametrização" },
        { cod: 14, text: "Secretaria" },
        { cod: 15, text: "Jurídico" },
        { cod: 16, text: "Diretoria" },
        { cod: 17, text: "Sinistro" },
        { cod: 18, text: "Credenciamento" },
        { cod: 19, text: "Núcleo Técnico de regulação e auditoria" },
        { cod: 20, text: "Contas médicas" },
        { cod: 21, text: "Recurso de Glosa" },
        { cod: 22, text: "Suprimentos" },
        { cod: 23, text: "Medicina preventiva" },
        { cod: 24, text: "Recursos Humanos" },
        { cod: 25, text: "Superintendência" },
      ],
      items_indice_contratual: [
        { cod: 1, text: "IGPM" },
        { cod: 2, text: "IPCA" },
        { cod: 3, text: "INPC" },
        { cod: 4, text: "Livre negociação" },
        { cod: 5, text: "O menor entre IGPM/IPCA/INPC" },
      ],
      items_status: [
        { cod: 1, text: "Vigente" },
        { cod: 2, text: "Encerrado" },
      ],
      items_ace_dados_sens: [
        { cod: 1, text: "Sim" },
        { cod: 2, text: "Não" },
      ],
      items_tipo_pagamento: [
        { cod: 1, text: "Fixo" },
        { cod: 2, text: "Por Produção" },
        { cod: 3, text: "Fixo e Por Produção" },
      ],
    };
  },
  methods: {
    async editar() {
      const payload = {
        ID_REGISTRO: this.data.ID_REGISTRO,
        TIPO_CONTRATO: this.data.TIPO_CONTRATO,
        RAZAO_SOCIAL: this.data.RAZAO_SOCIAL,
        NOME_FANTASIA: this.data.NOME_FANTASIA,
        CNPJ: this.data.CNPJ,
        NM_CONTRATADO_DIRETO: this.data.NM_CONTRATADO_DIRETO,
        DATA_CONTRATACAO: this.data.DATA_CONTRATACAO,
        DATA_TERMINO: this.data.DATA_TERMINO,
        TP_CONTRATO_SUBMOTIVO_SERVICO: this.data.TP_CONTRATO_SUBMOTIVO_SERVICO,
        GESTOR_CONTRATO: this.data.GESTOR_CONTRATO,
        MES_REAJUSTE: this.data.MES_REAJUSTE,
        INDICE_CONTRATUAL_REAJUSTE: this.data.INDICE_CONTRATUAL_REAJUSTE,
        STATUS: this.data.STATUS,
        ACESSO_DADOS_SENSIVEIS: this.data.ACESSO_DADOS_SENSIVEIS,
        TIPO_PAGAMENTO: this.data.TIPO_PAGAMENTO,
        DIA_PAGAMENTO: this.data.DIA_PAGAMENTO
      };

      axios
        .put("controleJuri/update", payload, {
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem("token")}`,
          },
        })
        .then((response) => {
          this.dialog = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>