<template>
  <div>
    <div class="col-12 mx-auto" style="padding-top: 4%; padding-bottom: 10%">
      <center><h2 class="card-title">Contratos Jurídico</h2></center>
      <br />
      <v-toolbar flat color="transparent">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          id="search_bar"
          @keyup="searchItems()"
          single-line
        ></v-text-field>

        <v-btn
          style="top: -22%"
          color="primary"
          icon=""
          dark
          @click="
            getItems();
            updated_success();
          "
        >
          <v-icon dark>mdi-refresh</v-icon>
        </v-btn>
      </v-toolbar>

      <v-data-table :headers="headers" :items="items" :items-per-page="5">
        <template v-slot:[`item.status`]="{ item }">
          <v-chip :color="getColor(item.status)" dark>
            {{ item.status }}
          </v-chip>
        </template>

        <template v-slot:[`item.editar`]="{ item }">
          <model-update
            :values="item"
            :alert="alert"
            :data="item"
            @emitAlert="showAlert"
          />
        </template>

        <template v-slot:[`item.excluir`]="{ item }">
          <v-btn color="error" rounded dark @click="deleteItem(item.ID_REGISTRO)">
            <v-icon dark>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
      <div>
        <v-alert
          :value="delete_alert"
          dark
          :type="delete_alert_status"
          border="top"
          transition="scale-transition"
        >
          {{ delete_alert_mensage }}
        </v-alert>
      </div>

      <div>
        <v-alert
          :value="alert"
          dark
          type="success"
          border="top"
          transition="scale-transition"
        >
          {{ mensagem }}
        </v-alert>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import App from "../App.vue";
import ModelUpdate from "./ModelUpdate.vue";
import router from "../router/index";

export default Vue.extend({
  name: "Agendamentos",
  components: {
    App,
    ModelUpdate,
  },
  data() {
    return {
      search: "",
      nome: "",
      dialog: false,
      role: window.localStorage.getItem("role"),
      alert: false,
      delete_alert: false,
      delete_alert_status: undefined,
      delete_alert_mensage: undefined,
      mensagem: "Alteração realizada com sucesso!",
      headers: [
        // {
        //   text: "Código",
        //   value: "ID_REGISTRO",
        //   align: "center",
        //   sortable: true,
        // },
        {
          text: "Tipo de Contrato",
          value: "TIPO_CONTRATO",
          align: "center",
          sortable: true,
        },
        {
          text: "Razão Social/Nome",
          value: "RAZAO_SOCIAL",
          align: "center",
          sortable: true,
        },
        {
          text: "Nome Fantasia",
          value: "NOME_FANTASIA",
          align: "center",
          sortable: true,
        },
        {
          text: "CPF / CNPJ",
          value: "CNPJ",
          align: "center",
          sortable: true,
        },
        // {
        //   text: "Nome Contratado",
        //   value: "NM_CONTRATADO_DIRETO",
        //   align: "center",
        //   sortable: true,
        // },
        {
          text: "Data Contratação",
          value: "DATA_CONTRATACAO",
          align: "center",
          sortable: true,
        },
        {
          text: "Data Término",
          value: "DATA_TERMINO",
          align: "center",
          sortable: true,
        },
        // {
        //   text: "Tipo Contrato Submotivo Serviço",
        //   value: "TP_CONTRATO_SUBMOTIVO_SERVICO",
        //   align: "center",
        //   sortable: true,
        // },
        // {
        //   text: "Gestor Contrato",
        //   value: "GESTOR_CONTRATO",
        //   align: "center",
        //   sortable: true,
        // },
        {
          text: "Mês Reajuste",
          value: "MES_REAJUSTE",
          align: "center",
          sortable: true,
        },
        // {
        //   text: "Indice Contratual Reajuste",
        //   value: "INDICE_CONTRATUAL_REAJUSTE",
        //   align: "center",
        //   sortable: true,
        // },
        {
          text: "Status",
          value: "STATUS",
          align: "center",
          sortable: true,
        },
        // {
        //   text: "Acesso Dados Sensiveis",
        //   value: "ACESSO_DADOS_SENSIVEIS",
        //   align: "center",
        //   sortable: true,
        // },
        // {
        //   text: "Tipo Pagamento",
        //   value: "TIPO_PAGAMENTO",
        //   align: "center",
        //   sortable: true,
        // },
        {
          text: "Editar",
          value: "editar",
          align: "center",
          sortable: false,
        },
        {
          text: "Excluir",
          value: "excluir",
          align: "center",
          sortable: false,
        },
      ],
      items: [],
      extention: "",
      search: "",
      fileName: "",
      userCid: "",
      array_data: [],
      sts: [
        { cod: 1, text: "Inclusão Liberado - DS OK" },
        { cod: 2, text: "Recusar - Termo não Assinado" },
        { cod: 3, text: "Cadastro Ok - Pendente pre-existência" },
        { cod: 4, text: "Pendente Análise de DS" },
        { cod: 5, text: "Finalizado" },
      ],
    };
  },
  methods: {
    getColor(status) {
      let color = "";
      switch (status) {
        case "Nenhum status registrado":
          color = "red";
          break;
        case "Inclusão Liberado - DS OK":
          color = "green";
          break;
        case "Recusar - Termo não Assinado":
          color = "#555";
          break;
        case "Cadastro Ok - Pendente pre-existência":
          color = "primary";
          break;
        case "Pendente Análise de DS":
          color = "warning";
          break;
        case "Finalizado":
          color = "pink";
          break;
      }
      return color;
    },
    showAlert() {
      this.alert = true;
      setTimeout(() => {
        this.alert = false;
      }, 3000);
    },

    async deleteItem(item) {
      const payload = {
        ID_REGISTRO: item,
      };

      const res = await axios
        .post("/controleJuri/delete", payload, {
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem("token")}`,
          },
        })
        .then((response) => {
          this.delete_alert_status = "success";
          this.delete_alert_mensage = "Contrato removido com sucesso!";
          this.delete_alert = true;
          setTimeout(() => {
            this.delete_alert = false;
          }, 3000);
          this.getItems();
        })
        .catch((error) => console.log(error));
    },

    searchItems() {
      let x = [];
      const searchBar = document.getElementById("search_bar");
      if (searchBar.value.length > 0) {
        for (let i = 0; i < this.items.length; i++) {
          if (
            // this.items[i].ID_REGISTRO.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            // this.items[i].TIPO_CONTRATO.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            this.items[i].RAZAO_SOCIAL.toString()
              .toUpperCase()
              .includes(searchBar.value.toString().toUpperCase()) ||
            // this.items[i].TIPO_CONTRATO.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            this.items[i].NOME_FANTASIA.toString()
              .toUpperCase()
              .includes(searchBar.value.toString().toUpperCase()) ||
            this.items[i].CNPJ.toString()
              .toUpperCase()
              .includes(searchBar.value.toString().toUpperCase()) ||
            // this.items[i].NM_CONTRATADO_DIRETO.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            this.items[i].DATA_CONTRATACAO.toString()
              .toUpperCase()
              .includes(searchBar.value.toString().toUpperCase()) ||
            this.items[i].DATA_TERMINO.toString()
              .toUpperCase()
              .includes(searchBar.value.toString().toUpperCase()) ||
            // this.items[i].TP_CONTRATO_SUBMOTIVO_SERVICO.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            // this.items[i].GESTOR_CONTRATO.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            this.items[i].MES_REAJUSTE.toString()
              .toUpperCase()
              .includes(searchBar.value.toString().toUpperCase()) ||
            // this.items[i].INDICE_CONTRATUAL_REAJUSTE.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            this.items[i].STATUS.toString()
              .toUpperCase()
              .includes(searchBar.value.toString().toUpperCase())
            // this.items[i].ACESSO_DADOS_SENSIVEIS.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase()) ||
            // this.items[i].TIPO_PAGAMENTO.toString()
            //   .toUpperCase()
            //   .includes(searchBar.value.toString().toUpperCase())
          ) {
            x.push(this.items[i]);
          }
        }
        this.items = x;
      } else {
        this.getItems();
      }
    },
    formatHorario(hrr) {
      let phrr = hrr.split(" ");
      let data = phrr[0].split("-").reverse().join("/");
      let hora = phrr[1].substr(0, 5);
      let fhrr = data + " " + hora;
      return fhrr;
    },
    updated_success() {
      this.delete_alert_status = "success";
      this.delete_alert_mensage = "Informações atualizadas com sucesso!";
      this.delete_alert = true;
      setTimeout(() => {
        this.delete_alert = false;
      }, 3000);
    },
    logout() {
      window.localStorage.removeItem("token");
      window.localStorage.removeItem("username");
      router.go("Home");
    },
    async getItems() {
      this.items = [];
      axios
        .get("controleJuri/list", {
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem("token")}`,
          },
        })
        .then((respose) => {
          this.array_data = respose.data;
          console.log(this.array_data);
          for (let i = 0; i < this.array_data.length; i++) {
            this.items.push({
              ID_REGISTRO: this.array_data[i][0],
              TIPO_CONTRATO: this.array_data[i][1],
              RAZAO_SOCIAL: this.array_data[i][2],
              NOME_FANTASIA: this.array_data[i][3],
              CNPJ: this.array_data[i][4],
              NM_CONTRATADO_DIRETO: this.array_data[i][5],
              DATA_CONTRATACAO: this.array_data[i][6],
              DATA_TERMINO: this.array_data[i][7],
              TP_CONTRATO_SUBMOTIVO_SERVICO: this.array_data[i][8],
              GESTOR_CONTRATO: this.array_data[i][9],
              MES_REAJUSTE: this.array_data[i][10],
              INDICE_CONTRATUAL_REAJUSTE: this.array_data[i][11],
              STATUS: this.array_data[i][12],
              ACESSO_DADOS_SENSIVEIS: this.array_data[i][13],
              TIPO_PAGAMENTO: this.array_data[i][14],
              DIA_PAGAMENTO: this.array_data[i][15],
            });
          }
        });
    },
  },
  async beforeMount() {
    this.getItems();
  },
});
</script>

<style>
.home {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.container {
  padding: 20px 20px 20px 20px;
}
.background-grey {
  background-color: #f5f5f5;
}
</style>
